name : bolt
services:
   db: 
      image: postgres:latest
      environment:
         - POSTGRES_USER=postgres
         - POSTGRES_PASSWORD=postgres
         - POSTGRES_DB=postgres
      ports:
         - "5431:5432"
      